$black: #000;
$white: #fff;
$green: #01372A;

$Montserrat: 'Montserrat', sans-serif;
$SegoePrint: 'Segoe Print', sans-serif;
$BookmanOldStyle: 'Bookman Old Style', sans-serif;
$FuturaBookC: 'FuturaBookC', sans-serif;
