@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';



body {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	font-family: 'Rubik', sans-serif;
	color: $black;
	background-color: $white;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}



@import "media.scss";